[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
variable_target_bed: 0

gcode:
  ## Move head and retract only if not already in the pause state and park set to true

  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}

  {% if target_bed|int >= 90 %}
    TURN_OFF_HEATERS
    G4 P300000
    POWER_OFF_EXHAUST
  {% endif %}
        
  TURN_OFF_HEATERS
  M107                                     					; Turn off fan

  CANCEL_PRINT_BASE
